@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to the Rock Paper Shredder</h1>
</div>
<br />
<br />

<div>
	<button class="btn-light"><a class="btn" asp-area="" asp-controller="Game" asp-action="Create">Create an Account</a></button>
	<button class="btn-light"><a class="btn" asp-area="" asp-controller="Game" asp-action="Login">Login</a></button>
</div>
